<template>
  <div class="container">
      <div class="temps">
      {{ timerCount }}
      </div>
    <article>
      <header>
        <div >
       
          <div 
          :class="{'active':index === activeStep}"
          v-for="(step, index) in formSteps"
          :key="'step'+index">
            <!-- {{ index + 1 }} -->
          </div>
            <h1>{{activeStep + 1 }}</h1>
        </div>
      </header>

      <section :class="animation">
          <form action="reponseStudent/create" method="POST" @submit="addTask()">
        
         <!-- <h2>{{ formSteps[activeStep].name_chapitre }}</h2> -->
         <h4>{{ formSteps[activeStep].name }}</h4>
         
         <div class="input-fields">
          <div class="input-container"
          
          v-for="(field, index) in examen"
          :key="'field'+index">
          <div class="row">
              
           <div  v-if="formSteps[activeStep].id == field.question_id" class="col-md-3"> <input  type="checkbox" v-model="field.value"></div>
            <div v-if="formSteps[activeStep].id == field.question_id" class="col-md-6"><label v-if="formSteps[activeStep].id == field.question_id" class="col-md-12">{{ field.name }}</label></div>
            
           
          </div>
          </div>
        </div> 
    
       <!-- <input type="submit" value="envoyer"> -->
           </form>
           <div class="actions">
               <button v-if="activeStep +1 > 1 && activeStep +1 < formSteps.length + 0 "  @click="prevcheckFields">previews</button>
                <button v-if="activeStep +1 < formSteps.length -1" @click="checkFields">suivant</button>
                <button  v-if="activeStep +1 === formSteps.length -1" @click="checkFields">envoyer</button>

         </div>
      </section>
    </article>
  </div>
</template>

<script>
  export default {
      
           created(){ 
            //    console.log(this.$route.query);
               axios
      .get('http://127.0.0.1:8000/question')
      .then(response => (this.formSteps = response.data));
      axios
      .get('http://127.0.0.1:8000/examen')
      .then(response => (this.examen = response.data))
      },

    data: () => {
      return {
        activeStep: 0,
        animation: 'animate-in',
         timerCount: 60,
        examen :[],
        reponse :  [],
        formSteps: [
         { 
             "id": 1, "name": "1) The _______ directory contains your project’s cache, session and log data.", "chapitre_id": 1, "created_at": "2022-01-29T23:59:30.000000Z", "updated_at": "2022-01-29T23:59:30.000000Z", 
         "fields": [ { "label": "What does HTML stand for?" }, { "label": "Who is making the Web standards?" } ],
       
       
       },
          {
            title: "Thank you for participating!",
          }
        ],
        
      }
    },
            watch: {

            timerCount: {
                handler(value) {

                    if (value > 0) {
                        setTimeout(() => {
                            this.timerCount--;
                        }, 1000);
                    }

                },
                immediate: true // This ensures the watcher is triggered upon creation
            }

        },
    methods: {
        

    addTask(){
        alert("okk");
    },

      nextStep() {
        this.animation = 'animate-out';
        setTimeout(() => {
          this.animation = 'animate-in';
          this.activeStep += 1;
        }, 550);
      },
         prevStep() {
        this.animation = 'animate-out';
        setTimeout(() => {
          this.animation = 'animate-in';
          this.activeStep -= 1;
        }, 550);
      },
      checkFields() {
        let valid = true;
 
          this.nextStep();
      },
      prevcheckFields() {
        let valid = true;

          this.prevStep();
      }
      
    }
  }
</script>

<style lang="scss" scoped>
  @import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
  @mixin flexbox() {
    display: flex;
    justify-content: left;
    align-items: left;
  }

  h4{
    margin:10px
  }
  .container {
    @include flexbox();
    width: 100%;
    min-height: 50vh;
    font-family: 'Noto Sans', sans-serif;
    background: radial-gradient(#DF5C2E, #A43227);
  }
  .temps{
      font-size: 70px;
      font-weight:700;
      font-style: inherit;
      font-family: 'Times New Roman', Times, serif;
      color:white;
      float:left;
        margin: 10px;
    width: calc(20% - 50px);
    
  }
  h1{
      @include flexbox();
      position: relative;
      text-align: center!important;
      width: 50px;
      height: 50px;
      border-radius: 60%;
      margin: 20px;
      color: #fff;
      background-color: #DF5C2E;
      font-weight: bold;
      display: block;
  }
  article {
    display: flex;
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 720px;
    min-height: 480px;
    perspective: 1000px;
    header {
      @include flexbox();
      text-align: center;
      width: 100;
      height: 480px;
      background-color: #fff;
      border-right: 2px dotted #DF5C2E;
      box-shadow: 0 15px 30px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2);
    }
    .progress-step {
      @include flexbox();
      position: relative;
      width: 100px;
      height: 50px;
      border-radius: 60%;
      margin-bottom: 20px;
      color: #fff;
      background-color: #DF5C2E;
      font-weight: bold;
      &.active {
        background-color: #DF5C2E;
        ~ .progress-step {
          color: #555;
          background-color: #ccc;
        }
        ~ .progress-step::before {
          background-color: #ccc;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: -20px;
        width: 2px;
        height: 20px;
        background-color: #DF5C2E;
        z-index: 10;
      }
      &:first-child::before {
        display: none;
      }
    }
    section {
      @include flexbox();
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 15px 30px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2);
      h2 {
        font-size: 1.6rem;
        color: #DF5C2E;
        margin: 0;
        padding: 20px;
      }
      .input-fields {
        @include flexbox();
        flex-direction: column;
        width: 100%;
      }
      .input-container {
        position: relative;
        padding: 1px 20px 00px 10px;
        width: calc(100% - 40px);
        max-width: 800px;
        input {
          position: relative;
          width: 100%;
          font-family: 'Noto Sans', sans-serif;
          font-size: 1.35rem;
          outline: none;
          background: transparent;
          box-shadow: none;
          border: none;
          border-bottom: 2px dashed #DF5C2E;
          &:valid + .input-label {
            top: 10px;
            left: 20px;
            font-size: .7rem;
            font-weight: normal;
            color: #999;
          }
          &.wrong-input + .input-label {
            color: #B92938;
          }
        }
      }
      .input-label {
        position: absolute;
        top: 32px;
        left: 20px;
        font-size: 1.35rem;
        pointer-events: none;
        transition: .2s ease-in-out;
      }
      .actions {
        margin: 0;
        button {
          margin:10px;
          font-family: 'Noto Sans', sans-serif;
          outline: none;
          border: none;
          color: #fff;
          background-color: #DF5C2E;
          font-size: 0.95rem;
          padding: 5px 10px;
        //   margin: 0;
          text-transform: uppercase;
          border-radius: 3px;
          cursor: pointer;
        }
      }
          .actions2 {
        margin: 0;
        button {
          font-family: 'Noto Sans', sans-serif;
          outline: none;
          border: none;
          color: #fff;
          float:right;
          background-color: #DF5C2E;
          font-size: 0.95rem;
          padding: 5px 10px;
          margin: 0;
          text-transform: uppercase;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }
  }
  .animate-in {
    transform-origin: left;
    animation: in .6s ease-in-out;
  }
  .animate-out {
    transform-origin: bottom left;
    animation: out .6s ease-in-out;
  }
  .animate-wrong {
    animation: wrong .4s ease-in-out;
  }
  @keyframes in {
    0% {
      opacity: 0;
      transform: rotateY(90deg);
    }
    100% {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
  // @keyframes out {
  //   0% { transform: translateY(0px) rotate(0deg); }
  //   60% { transform: rotate(10deg); }
  //   100% { transform: translateY(1000px); }
  // }
  @keyframes wrong {
    0% { transform: translateX(0); }
    20% { transform: translateX(40px); }
    40% { transform: translateX(20px); }
    60% { transform: translateX(40px); }
    80% { transform: translateX(20px); }
    100% { transform: translateX(0); }
  }
</style>