<template>
  <div class="container">
   <div class="row">
    <div class="col-md-12">
       <div class="col-md-6">
     <h1>Apprenez sans limites</h1>
     <p>Développez de nouvelles compétences pour ce sentiment "c'est mon année" avec des cours, des certificats et des diplômes d'universités et d'entreprises de classe mondiale.</p>
    </div>
    </div>
    <div class="row">
          <div class="col-md-3"
          
          v-for="(modules, index) in module"
          :key="'module'+index">
            <div> 
          <div id="grille"  class="col-md-3">
          <h2> {{ modules.name }}</h2>
          <p class="description"> {{ modules.description }}</p>
          <a :href="'/passer_examen/' + modules.id" class="passer">Passer examen</a>
           </div>

            </div>
          </div>
     </div>
    
    </div>
  </div>
</template>

<script>
  export default {
           created(){ axios
      .get('http://127.0.0.1:8000/module')
      .then(response => (this.module = response.data));
      },

    data: () => {
      return {
        activeStep: 0,
        animation: 'animate-in',
         timerCount: 60,
        module :[],
       
        
      }
    },
    methods: {

      
    }
  }
</script>

<style lang="scss" scoped>
  @import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
  @mixin flexbox() {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  *{
   font-family: 'Times New Roman', Times, serif;
   
  }
  .description{
   color:rgb(51, 51, 51)
  }
  h1,p{
   color:ivory;
   text-align: justify;
  }
  .passer{
        padding: 5px 5px 5px 5px;
        text-align: center;
        width: calc(100% - 40px);
        border-radius: 5px;
        text-decoration: none;
        background-color: #DF5C2E;
        color:#fff;
  }
  .container {
    @include flexbox();
    width: 100%;
    min-height: 50vh;
    font-family: 'Noto Sans', sans-serif;
    background: radial-gradient(#DF5C2E, #A43227);
  }
   h2{
       font-weight:bold;
        color: #A43227;
        font-size: 30px;
        
   }
       #grille {
         
        position: relative;
        padding: 20px 20px 20px 20px;
        text-align: center;
        width: calc(100% - 40px);
        background: white;
        max-width: 800px;
        margin:10px;


      }
  .temps{
      font-size: 70px;
      font-weight:700;
      font-style: inherit;
      font-family: 'Times New Roman', Times, serif;
      color:white;
      float:left;
        margin: 10px;
    width: calc(20% - 50px);
    
  }
  article {
    display: flex;
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 720px;
    min-height: 480px;
    perspective: 1000px;
    header {
      @include flexbox();
      width: 78;
      height: 480px;
      background-color: #fff;
      border-right: 2px dotted #DF5C2E;
      box-shadow: 0 15px 30px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2);
    }
    .progress-step {
      @include flexbox();
      position: relative;
      width: 100px;
      height: 50px;
      border-radius: 60%;
      margin-bottom: 20px;
      color: #fff;
      background-color: #DF5C2E;
      font-weight: bold;
      &.active {
        background-color: #DF5C2E;
        ~ .progress-step {
          color: #555;
          background-color: #ccc;
        }
        ~ .progress-step::before {
          background-color: #ccc;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: -20px;
        width: 2px;
        height: 20px;
        background-color: #DF5C2E;
        z-index: 10;
      }
      &:first-child::before {
        display: none;
      }
    }
    section {
      @include flexbox();
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 15px 30px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2);
      h2 {
        font-size: 1.6rem;
        color: #DF5C2E;
        margin: 0;
        padding: 20px;
      }
      .input-fields {
        @include flexbox();
        flex-direction: column;
        width: 100%;
      }

      .input-label {
        position: absolute;
        top: 32px;
        left: 20px;
        font-size: 1.35rem;
        pointer-events: none;
        transition: .2s ease-in-out;
      }
      .actions {
        margin: 0;
        button {
          font-family: 'Noto Sans', sans-serif;
          outline: none;
          border: none;
          color: #fff;
          background-color: #0c7915;
            font-size: 0.95rem;
          padding: 5px 10px;
          margin: 0;
          text-transform: uppercase;
          border-radius: 3px;
          cursor: pointer;
        }
      }
          .actions2 {
        margin: 0;
        button {
          font-family: 'Noto Sans', sans-serif;
          outline: none;
          border: none;
          color: #fff;
          float:right;
          background-color: #DF5C2E;
          font-size: 0.95rem;
          padding: 5px 10px;
          margin: 0;
          text-transform: uppercase;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }
  }
  .animate-in {
    transform-origin: left;
    animation: in .6s ease-in-out;
  }
  .animate-out {
    transform-origin: bottom left;
    animation: out .6s ease-in-out;
  }
  .animate-wrong {
    animation: wrong .4s ease-in-out;
  }
  @keyframes in {
    0% {
      opacity: 0;
      transform: rotateY(90deg);
    }
    100% {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
//   @keyframes out {
//     0% { transform: translateY(0px) rotate(0deg); }
//     60% { transform: rotate(10deg); }
//     100% { transform: translateY(1000px); }
//   }
//   @keyframes wrong {
//     0% { transform: translateX(0); }
//     20% { transform: translateX(40px); }
//     40% { transform: translateX(20px); }
//     60% { transform: translateX(40px); }
//     80% { transform: translateX(20px); }
//     100% { transform: translateX(0); }
//   }
</style>